<template>
    <el-container>
        <el-header/>
        <el-main>
            <el-card class="main p-2">
                <router-view/>
            </el-card>
        </el-main>
    </el-container>
</template>

<script lang="ts">
    import {Vue} from 'vue-property-decorator';

    export default class MainLayout extends Vue {
    }
</script>
