<template>
    <div class="container-center">
        <h4 class="pt-3">404</h4>
        <p class="text-muted">Страница не найдена</p>
        <el-button
                type="primary"
                size="small"
                @click="handleToHome"
        >
            На главную
        </el-button>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from 'vue-property-decorator';

    @Component
    export default class MainLayout extends Vue {
        private handleToHome() {
            this.$router.replace({name: 'home'});
        }
    }
</script>
