.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.el-header {
  height: 80px !important;
  background: #091c28;
  text-align: center;
}

.el-main {
  display: flex !important;
  flex-direction: row;
  flex-grow: 1;
  padding: 0 80px !important;
  background-color: #f9f9f9;
  color: #333333;
}

.main {
  flex: 1;
}

.el-card__body {
  height: 100%;
}

.el-drawer__header {
  margin-bottom: 12px;
}

.container-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 25px;
}
