<template>
    <div>
        <h4>Операции на поле 112</h4>
        <div class="row mt-4 mb-2">
            <div class="col-6">
                <el-radio-group v-model="operationCompleted" size="mini" class="my-2 text-uppercase">
                    <el-radio-button :label="false">Запланированные операции</el-radio-button>
                    <el-radio-button :label="true">Выполненные операции</el-radio-button>
                </el-radio-group>
            </div>
            <div class="col-6 text-right">
                <el-button size="small" round  @click="operationModal.visible = true">
                    <font-awesome-icon icon="plus-circle" class="text-success mr-2"/>
                    Добавить операцию
                </el-button>
            </div>
        </div>
        <el-table
                v-loading="operations.loading"
                :data="operations.data"
                @row-click="handleRowClick"
        >
            <el-table-column
                    prop="date"
                    label="Дата"
                    width="180"
                    :formatter="operationDateFormatter"
                    sortable
            >
            </el-table-column>
            <el-table-column
                    prop="type"
                    label="Операция"
                    :formatter="operationFormatter"
                    sortable
            >
            </el-table-column>
            <el-table-column
                    label="Культура"
            >
                <template #default="scope">
                    <font-awesome-icon icon="seedling"/>
                    <span class="ml-2">Пшеница озимая</span>
                </template>
            </el-table-column>
            <el-table-column
                    prop="assessment"
                    label="Качество"
                    width="200"
                    :formatter="assessmentFormatter"
                    sortable
            >
                <template #default="scope">
                    <span :class="`badge badge-pill badge-${assessmentLabelColor(scope.row.assessment)}`"/>
                    <span
                            :class="`ml-2 ${scope.row.assessment === null ? 'text-black-50' : ''}`"
                    >
                        {{assessmentFormatter(scope.row.assessment)}}
                    </span>
                </template>
            </el-table-column>
            <el-table-column
                    prop="area"
                    label="Площадь, Га"
                    align="right"
                    width="200"
                    sortable
            />
            <el-table-column
                    prop="comment"
                    label="Комментарий"
                    align="right"
            />
        </el-table>
        <c-operation-modal
                v-model="operationModal"
                @cancel="handleModalClose"
                @ok="handleModalOk"
        />
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from 'vue-property-decorator';
    import get from 'lodash/get';
    import {State} from 'vuex-class';
    import {operationModule} from '@/store/modules/operations/types';
    import {OperationType, Assessment} from '@/models/Operation';
    import OperationModal from './modals/OperationModal.vue';
    import {IOperation} from '@/models/Operation';
    import {IAsyncData} from '@/models/Base';

    @Component({
        components: {
            'c-operation-modal': OperationModal,
        },
    })
    export default class OperationList extends Vue {

        private operationModal = {
            visible: false,
            editMode: false,
            loading: false,
            data: {
                id: null,
                type: '',
                date: null,
                area: undefined,
                assessment: undefined,
            },
        };

        private operationCompleted = true;

        @State((state) => state.operations.selected)
        private editOperation: any;

        @operationModule.Getter
        private filteredOperations: any;

        @operationModule.Action
        private getOperations: any;

        @operationModule.Action
        private getOperation: any;

        @operationModule.Action
        private saveOperation: any;

        get operations(): IAsyncData<IOperation[]> {
            return this.filteredOperations(this.operationCompleted);
        }

        protected mounted() {
            this.getOperations();
        }

        private operationFormatter(row: any, column: any) {
            return this.$i18n.t(OperationType[row.type]);
        }

        private operationDateFormatter(row: any, column: any) {
            const  { year, month, day } = row.date;
            return this.$i18n.d(new Date(year, month, day), 'short').toUpperCase();
        }

        private assessmentFormatter(assessment: Assessment) {
            return assessment === null ? 'Нет оценки' : this.$i18n.t(Assessment[assessment]);
        }

        private assessmentLabelColor(assessment: Assessment) {
            switch (assessment) {
                case Assessment.EXCELLENT:
                    return 'success';
                case Assessment.SATISFACTORILY:
                    return 'warning';
                case Assessment.BADLY:
                    return 'danger';
                default:
                    return 'light';
            }
        }

        private async handleRowClick(row: any, column: any, event: any) {
            this.operationModal = {...this.operationModal, visible: true, editMode: true, loading: true};
            await this.getOperation(row.id);
            this.operationModal.loading = false;
            this.operationModal.data = {...this.editOperation.data,
                date: new Date(this.editOperation.data.date.year,
                    this.editOperation.data.date.month - 1, this.editOperation.data.date.day)};
        }

        private handleModalClose() {
            this.operationModal = {
                visible: false,
                editMode: false,
                loading: false,
                data: {
                    id: null,
                    type: '',
                    date: null,
                    area: undefined,
                    assessment: undefined,
                },
            };
        }

        private handleModalOk() {
            this.saveOperation({...this.operationModal.data,
                date: {
                    year: get(this.operationModal, 'data.date').getFullYear(),
                    month: get(this.operationModal, 'data.date').getMonth() + 1,
                    day: get(this.operationModal, 'data.date').getDate(),
                }});
            this.handleModalClose();
        }
    }
</script>

<style lang="scss" scoped>
    .badge {
        display: inline-block;
        width: 25px;
        height: 12px;
    }
</style>
