<template>
    <el-drawer
            :visible="operationModal.visible"
            direction="ltr"
            :show-close="false"
            size="25%"
            @close="$emit('cancel')"
    >
        <template #title>
            <h4 class="text-dark">{{operationModal.editMode ? 'Редактирование' : 'Добавление'}} операции</h4>
        </template>
        <el-form class="d-flex flex-column h-100" v-loading="operationModal.loading">
            <div class="row px-4 mb-4">
                <div class="col-1">
                    <span class="square d-inline-block border bg-success mt-2"></span>
                </div>
                <div class="col-2 ml-2">
                    <div class="text-uppercase text-muted">Поле</div>
                    <div class="font-weight-bold">112</div>
                </div>
                <div class="col-5 ml-auto">
                    <div>Озимая пшеница</div>
                    <div class="text-uppercase text-muted">Победа 50</div>
                    <font-awesome-icon icon="seedling" size="lg" class="icon-seedling position-absolute"/>
                </div>
            </div>
            <div class="row px-4 mb-4">
                <el-select
                        v-model="operationModal.data.type"
                        placeholder="Операция"
                        class="w-100"
                >
                    <el-option
                            v-for="type in operationTypes"
                            :key="type.value"
                            :label="$t(type.label)"
                            :value="type.value"
                    />
                </el-select>
            </div>
            <div class="row px-4 mb-4">
                <div class="col-6 p-0">
                    <el-date-picker
                            v-model="operationModal.data.date"
                            type="date"
                            placeholder="Дата проведения"
                            format="dd.MM.yyyy"
                    />
                </div>
                <div class="col-6 p-0">
                    <el-input-number
                            v-model="operationModal.data.area"
                            class="w-100"
                            placeholder="Кол-во Га к обработке"
                            controls-position="right"
                            :precision="1"
                            :step="0.1"
                            :min="0.1"
                    />
                </div>
            </div>
            <div class="row px-4 mb-4">
                <el-input
                        v-model="operationModal.data.comment"
                        type="textarea"
                        :rows="4"
                        placeholder="Комментарий к операции..."
                />
            </div>
            <div class="row px-4 justify-content-center text-uppercase">
                <label>Качество выполнения операции</label>
                <el-radio-group
                        v-model="operationModal.data.assessment"
                        size="mini"
                >
                    <el-radio-button :label="0">Отлично</el-radio-button>
                    <el-radio-button :label="1">Удовл.</el-radio-button>
                    <el-radio-button :label="2">Плохо</el-radio-button>
                </el-radio-group>
            </div>
            <div class="mt-auto">
                <el-button
                        type="success"
                        class="button-operation w-100"
                        :disabled="!operationModal.data.type && !operationModal.data.date"
                        @click="$emit('ok')"
                >
                    {{operationModal.editMode ? 'Редактировать' : 'Добавить'}} операцию
                </el-button>
            </div>
        </el-form>
    </el-drawer>
</template>

<script lang="ts">
    import { Vue, Component, Model } from 'vue-property-decorator';
    import {OperationType, IOperation} from '@/models/Operation';
    import {IDictionaryItem} from '@/models/Base';

    @Component
    export default class OperationModal extends Vue {

        @Model('input', { type: Object }) private readonly operationModal: IOperation;

        private operationTypes = Object.keys(OperationType).reduce((types, key) => {
            if (!isNaN(Number(OperationType[key]))) {
                types.push({
                    label: key,
                    value: OperationType[key],
                });
            }
            return types;
        }, [] as IDictionaryItem[]);
    }
</script>

<style lang="scss" scoped>
    .button-operation {
        border-radius: 0 !important;
        text-transform: uppercase;
    }

    .square {
        height: 2rem;
        width: 2rem;
    }

    .icon-seedling {
        top: 0.7rem;
        right: 0.7rem;
    }
</style>
